/******************** GENERAL ********************/

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/*************** fonts ***************/

/* montserrat-regular - latin */
@font-face {
    font-family: "Montserrat";
    font-style: normal;
    font-weight: 400;
    src: url("fonts/montserrat/montserrat-v14-latin-regular.eot"); /* IE9 Compat Modes */
    src: local("Montserrat Regular"), local("Montserrat-Regular"),
    url("fonts/montserrat/montserrat-v14-latin-regular.eot?#iefix") format("embedded-opentype"), /* IE6-IE8 */
    url("fonts/montserrat/montserrat-v14-latin-regular.woff2") format("woff2"), /* Super Modern Browsers */
    url("fonts/montserrat/montserrat-v14-latin-regular.woff") format("woff"), /* Modern Browsers */
    url("fonts/montserrat/montserrat-v14-latin-regular.ttf") format("truetype"), /* Safari, Android, iOS */
    url("fonts/montserrat/montserrat-v14-latin-regular.svg#Montserrat") format("svg"); /* Legacy iOS */
}

/* devonshire-regular - latin */
@font-face {
    font-family: "Devonshire";
    font-style: normal;
    font-weight: 400;
    src: url('fonts/devonshire/devonshire-v8-latin-regular.eot');/* IE9 Compat Modes */
    src: local("Devonshire-Regular"),
    url("fonts/devonshire/devonshire-v8-latin-regular.eot?#iefix") format("embedded-opentype"), /*IE6-IE8*/
    url("fonts/devonshire/devonshire-v8-latin-regular.woff2") format("woff2"), /* Super Modern Browsers */
    url("fonts/devonshire/devonshire-v8-latin-regular.woff") format("woff"), /* Modern Browsers */
    url("fonts/devonshire/devonshire-v8-latin-regular.ttf") format("truetype"), /* Safari, Android, iOS*/
    url('fonts/devonshire/devonshire-v8-latin-regular.svg#Devonshire') format("svg"); /* Legacy iOS */
}

/* croissant-one-regular - latin */
@font-face {
    font-family: "Croissant One";
    font-style: normal;
    font-weight: 400;
    src: url("fonts/croissant-one/croissant-one-v7-latin-regular.eot"); /* IE9 Compat Modes */
    src: local("Croissant One"), local('CroissantOne-Regular'),
    url("fonts/croissant-one/croissant-one-v7-latin-regular.eot?#iefix") format("embedded-opentype"), /* IE6-IE8 */
    url("fonts/croissant-one/croissant-one-v7-latin-regular.woff2") format("woff2"), /* Super Modern Browsers */
    url("fonts/croissant-one/croissant-one-v7-latin-regular.woff") format("woff"), /* Modern Browsers */
    url("fonts/croissant-one/croissant-one-v7-latin-regular.ttf") format("truetype"), /* Safari, Android, iOS */
    url("fonts/croissant-one/croissant-one-v7-latin-regular.svg#CroissantOne") format("svg"); /* Legacy iOS */
}

/* noto-serif-regular - latin */
@font-face {
    font-family: 'Noto Serif';
    font-style: normal;
    font-weight: 400;
    src: url('/fonts/noto-serif/noto-serif-v8-latin-regular.eot'); /* IE9 Compat Modes */
    src: local('Noto Serif'), local('NotoSerif'),
    url('/fonts/noto-serif/noto-serif-v8-latin-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
    url('/fonts/noto-serif/noto-serif-v8-latin-regular.woff2') format('woff2'), /* Super Modern Browsers */
    url('/fonts/noto-serif/noto-serif-v8-latin-regular.woff') format('woff'), /* Modern Browsers */
    url('/fonts/noto-serif/noto-serif-v8-latin-regular.ttf') format('truetype'), /* Safari, Android, iOS */
    url('/fonts/noto-serif/noto-serif-v8-latin-regular.svg#NotoSerif') format('svg'); /* Legacy iOS */
}

/* dancing-script-regular - latin */
@font-face {
    font-family: "Dancing Script";
    font-style: normal;
    font-weight: 400;
    src: url("fonts/dancing-script/dancing-script-v14-latin-regular.eot"); /* IE9 Compat Modes */
    src: local(""),
    url("fonts/dancing-script/dancing-script-v14-latin-regular.eot?#iefix") format("embedded-opentype"), /* IE6-IE8 */
    url("fonts/dancing-script/dancing-script-v14-latin-regular.woff2") format("woff2"), /* Super Modern Browsers */
    url("fonts/dancing-script/dancing-script-v14-latin-regular.woff") format("woff"), /* Modern Browsers */
    url("fonts/dancing-script/dancing-script-v14-latin-regular.ttf") format("truetype"), /* Safari, Android, iOS */
    url("fonts/dancing-script/dancing-script-v14-latin-regular.svg#DancingScript") format("svg"); /* Legacy iOS */
}

/* kaushan-script-regular - latin */
@font-face {
    font-family: "Kaushan Script";
    font-style: normal;
    font-weight: 400;
    src: url("fonts/kaushan-script/kaushan-script-v8-latin-regular.eot"); /* IE9 Compat Modes */
    src: local("Kaushan Script"), local("KaushanScript-Regular"),
    url("fonts/kaushan-script/kaushan-script-v8-latin-regular.eot?#iefix") format("embedded-opentype"), /* IE6-IE8 */
    url("fonts/kaushan-script/kaushan-script-v8-latin-regular.woff2") format("woff2"), /* Super Modern Browsers */
    url("fonts/kaushan-script/kaushan-script-v8-latin-regular.woff") format("woff"), /* Modern Browsers */
    url("fonts/kaushan-script/kaushan-script-v8-latin-regular.ttf") format("truetype"), /* Safari, Android, iOS */
    url("fonts/kaushan-script/kaushan-script-v8-latin-regular.svg#KaushanScript") format("svg"); /* Legacy iOS */
}

/* segoe-print-regular - latin */
@font-face {
    font-family: "Segoe Print";
    src: url("fonts/segoe-print/c455d94eee43dc4ceeb83c0c0fd0d4c8.eot");
    src: url("fonts/segoe-print/c455d94eee43dc4ceeb83c0c0fd0d4c8.eot?#iefix") format("embedded-opentype"),
    url("fonts/segoe-print/c455d94eee43dc4ceeb83c0c0fd0d4c8.woff2") format("woff2"),
    url("fonts/segoe-print/c455d94eee43dc4ceeb83c0c0fd0d4c8.woff") format("woff"),
    url("fonts/segoe-print/c455d94eee43dc4ceeb83c0c0fd0d4c8.ttf") format("truetype"),
    url("fonts/segoe-print/c455d94eee43dc4ceeb83c0c0fd0d4c8.svg#Segoe Print") format("svg");
}

/******************** BODY ********************/

body {
    display: flex;
    flex-direction: column;
}

header, footer, .soon {
    font-family: Montserrat, serif;
    background-color: #569C87
    color #faca46
}
