.delice {
    @include delice;
    @include md {
        width: 80%;
    }
    @include lg {
        width: 70%;
        padding-bottom: 90px;
    }
    box-shadow: $box-shadow;
    width: 90%;
    height: auto;
    padding-left: 10px;
    padding-right: 10px;
    margin: auto auto 30px auto;
    h2
    {
        font-size: 1.2em;
        font-weight: lighter;
        @include md {
            font-size: 1.4em;
        }
    }
    h3 {
        margin: 40px;
        @include lg {
        margin: 90px;
        }
    } 
    .font__black {
        color:$delice_palette_page;
        font-family:$menu_delice_palette;
    }
    &__title--gradient {
        @include delice__title--gradient;
        font-size: 2em;
        @include lg {
            font-size: 4em;
        }
    }
    &__subtitle {
        @include flex_space_between;
    }
}
.dish {
    @include lg {
        @include flex_space_between;
        width: 90%;
        margin: auto;
    }
}
.delice_palette_deco {
    @include delice_palette_deco;
    @include md {
        width: 200px;
        height: 6px;
    }
    @include lg {
        width: 300px;
        height: 8px;
    }
}
.anim4 {
    @include line_anim ($delice_menu_gradient1);
}
.anim5 {
    @include line_anim ($delice_menu_gradient2);
}
.anim6 {
    @include line_anim ($delice_menu_gradient3);
}
