.mentions__page{
    @include lanote;
    box-shadow: $box-shadow;
    @include md {
        width:80%;
    }
    @include lg {
        width: 70%;
    }
    width: 90%;
    height: auto;
    padding-left: 10px;
    padding-right: 10px;
    margin: auto auto 30px auto;
}
